/**
 * Place your custom styles here.
 */
.slider-title {
  position:absolute;
}
.slider-title a {
  color:#fff;
  font-size:20px;
}

.view-header {
    /* border: 1px solid #5633bd; */
    padding: 8px;
    /* background-color: #67b5b566; */
    color: red;
}
.well.region.region-sidebar-second {
    background: none;
}

.region.region-sidebar-second {
    padding-top: 19px;
}